*{
    margin: 0;
    padding: 0;
}

body{
    background: rgb(45,209,244);
    background: #2C2B30;
    padding-top: 120px;
}

#header {
    position: fixed;
    width: 100%;
    height: 80px;
    top: 0;
    background: #191927;
    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    font-size: x-large;
    z-index: 9;
}

#logo-container{
    width: 40px;
    height: 38px;
    margin: 10px;
}

#logo{ 
    width: 100%;
    height: auto;
}

.hidden {
    display: none;
}

#book-container {
    display: grid;
    margin: 0 20px;
    grid-auto-flow: row;
    grid-template-columns: repeat(5, 1fr);

    grid-gap: 10px;
}

.book {
    position: relative;
    width: 200px;
    height: 200px;
    background: #4f4c53;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    flex-wrap: wrap;
}

.title{
    align-self: center;
    word-wrap: break-word;
    word-break: break-all;
}

.author{
    margin-left: 8px;
}

.pages {
    margin-left: 8px;
}

.read {
    color: red;
    align-self: center;
}

.read:hover {
    cursor: pointer;
    transform: scale(1.2);
    font-weight: 700;
}

.delete-book {
    position: absolute;
    top: 5px;
    right: 5px;
    background: transparent;
}

.delete-book:hover{
    cursor: pointer;
}

.error{
    border: 2px solid red;
}

#new-book {
    width: 60px;
    height: 60px;
    position: absolute;
    margin: 10px;
    bottom: 0;
    left: 0;
    display: flex;
}

#new-book .add-book {
    width: 100%;
    height: auto;
    margin: auto;
}

#new-book .add-book:hover {
    cursor: pointer;
    transform:scale(1.2)
} 